@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    #menu {
        width: 200px;
        height: 600px;
        border: 2px red solid;
        position: fixed;
        top: 100px;
        left: 20px;
    }
    #content {
        width: 800px;
        height: 800px;
        margin: 0 auto;
        border: 2px black solid;
        background: #aaa;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="menu">
        @await Component.InvokeAsync("Menu")
    </div>
    <div id="content">
        @await Component.InvokeAsync("Product")
    </div>



</div>
